@use 'variables';

.About-us {
    margin-bottom: 100px;

    >img {
        @include variables.QualityLabel;
        position: absolute;
        right: 10%;
        top: 5%;
    }

    &__container {
        display: flex;
        flex-direction: row;
        justify-content: center;

        >img {
            height: 400px;
        }

        &--text {
            display: grid;
            width: 400px;
            padding: 50px;

            >a {
                @include variables.goldenButton;
                align-self: end;
            }
        }
    }
}