@use 'variables';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: variables.$basic-size;
    font-family: 'Cormorant Garamond', serif;
}

a {
    text-decoration: none;
    color: variables.$color-white;
    font-family: variables.$link-font;

    &:hover {
        color: variables.$color-green;
    }
}

.Relative {
    position: relative;
    top: -200px;
}

p {
    font-size: variables.$p-size;
    color: variables.$color-grey;
}