@use 'variables';

.Section {

    &__title {
        display: grid;
        max-width: 800px;
        grid-template-columns: 1fr 1fr;

        >h2 {
            @include variables.h2Styling;
            grid-row: 1;
            grid-column: 1/3;
        }

        &--subtitle {
            grid-row: 1;
            grid-column: 2/3;
            align-self: center;
            justify-self: start;
            text-align: center;


            >h3 {
                @include variables.h3Styling;
            }

            >q {
                font-size: 1rem;
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                font-weight: 100;
                quotes: none;
                padding-bottom: 20px;
            }

        }

    }
}

// dark mode 

.reverse {

    h2 {
        opacity: 5%;
    }

    h3,
    q {
        filter: invert(100%);
    }
}