* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 14px;
  font-family: "Cormorant Garamond", serif;
}

a {
  text-decoration: none;
  color: #fff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
a:hover {
  color: #c6ad65;
}

.Relative {
  position: relative;
  top: -200px;
}

h1 {
  font-size: 10rem;
}

h2 {
  font-size: 9rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 2rem;
}

p {
  font-size: 1.5rem;
  color: #aeaeae;
  font-weight: 300;
}

li {
  list-style: none;
}

header {
  background: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0) 74%, rgb(0, 0, 0) 100%), url(../../section/header/img/img_bg_slider_home01.jpg) no-repeat center;
  background-color: black;
  background-size: cover;
  height: 750px;
  padding: 50px;
}

.Header__top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Header__nav {
  display: flex;
}
.Header__nav--item {
  padding-right: 30px;
  list-style: none;
}
.Header__contact {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}
.Header__contact--phone {
  padding-right: 30px;
}
.Header__contact--phone > i {
  color: #c6ad65;
  letter-spacing: 2px;
}
.Header__contact--booking {
  background-color: #c6ad65;
  border-radius: 5px;
  width: max-content;
  height: max-content;
  text-align: center;
  padding: 15px 30px;
  text-transform: uppercase;
}
.Header__contact--booking:hover {
  color: #fff;
}
.Header__banner {
  margin: 50px;
  display: grid;
  grid-template-columns: 350px auto;
  grid-template-rows: repeat(2, 5% 25%);
  grid-gap: 20px;
}
.Header__banner > h1 {
  max-width: 350px;
  grid-row: 2/5;
  grid-column: 1/3;
  color: #fff;
  font-size: 8rem;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 123px;
  letter-spacing: -6px;
}
.Header__banner > img {
  width: 100px;
  position: relative;
  grid-column: 2;
}
.Header__banner--play {
  grid-column: 4;
  grid-row: 4;
}
.Header__banner--play > i {
  width: 100px;
  height: 100px;
  background-color: white;
  border-radius: 50%;
  text-align: center;
  padding-top: 35px;
  color: #c6ad65;
  font-size: 1.8rem;
  outline: 1px solid rgba(255, 255, 255, 0.3803921569);
  outline-offset: 20px;
}
.Header__banner--button {
  grid-row: 5;
  outline: 1px solid rgba(255, 255, 255, 0.3803921569);
  border-radius: 5px;
  width: max-content;
  height: max-content;
  text-align: center;
  padding: 15px 30px;
  text-transform: uppercase;
}

.Section__title {
  display: grid;
  max-width: 800px;
  grid-template-columns: 1fr 1fr;
}
.Section__title > h2 {
  font-size: 9rem;
  color: #faf6f0;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: -10px;
  grid-row: 1;
  grid-column: 1/3;
}
.Section__title--subtitle {
  grid-row: 1;
  grid-column: 2/3;
  align-self: center;
  justify-self: start;
  text-align: center;
}
.Section__title--subtitle > h3 {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 300;
  padding-bottom: 20px;
}
.Section__title--subtitle > q {
  font-size: 1rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 100;
  quotes: none;
  padding-bottom: 20px;
}

.reverse h2 {
  opacity: 5%;
}
.reverse h3,
.reverse q {
  filter: invert(100%);
}

.Category {
  background: linear-gradient(132deg, rgba(250, 246, 240, 0.3995973389) 0%, rgba(250, 246, 240, 0.6404936975) 100%), url(../../section/categorie/img/imgbgcategory.jpg) no-repeat center;
  background-size: cover;
  height: 750px;
  padding: 30px 0;
}
.Category__foods {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.Category__foods--box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 180px;
  height: 200px;
  text-align: center;
  background-color: #fff;
  margin: 15px;
  padding: 25px;
}
.Category__foods--box:hover {
  background-color: #c6ad65;
}
.Category__foods--box:hover p,
.Category__foods--box:hover i {
  color: #fff;
}
.Category__foods--text {
  font-family: "Cormorant Garamond", serif;
  cursor: pointer;
}
.Category__foods--text p,
.Category__foods--text i {
  padding-bottom: 15px;
  font-size: 1.2rem;
  color: #000;
}
.Category__foods--icon {
  width: 30px;
}

.Banner {
  display: flex;
  align-items: center;
  justify-content: center;
}
.Banner > img:nth-child(2) {
  border: 25px solid white;
  border-radius: 50%;
  width: 50%;
}
.Banner > img:nth-child(odd) {
  width: 20%;
  padding-top: 100px;
}

.About-us {
  margin-bottom: 100px;
}
.About-us > img {
  width: 100px;
  position: relative;
  position: absolute;
  right: 10%;
  top: 5%;
}
.About-us__container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.About-us__container > img {
  height: 400px;
}
.About-us__container--text {
  display: grid;
  width: 400px;
  padding: 50px;
}
.About-us__container--text > a {
  background-color: #c6ad65;
  border-radius: 5px;
  width: max-content;
  height: max-content;
  text-align: center;
  padding: 15px 30px;
  text-transform: uppercase;
  align-self: end;
}

.Menu {
  background-color: #faf6f0;
  background: linear-gradient(132deg, rgba(250, 246, 240, 0.3995973389) 0%, rgba(250, 246, 240, 0.6404936975) 100%);
  padding-bottom: 100px;
}
.Menu > img {
  display: block;
  position: absolute;
}
.Menu__picture-one {
  height: 500px;
  width: auto;
  bottom: -100px;
}
.Menu__picture-two {
  height: 100%;
  right: 0;
}
.Menu__listing {
  position: sticky;
  z-index: 5;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.Menu__listing--item {
  z-index: 5;
  width: 500px;
  background-color: #fff;
  border-radius: 5px;
  margin: 20px;
  padding: 20px 30px;
  display: grid;
  grid-template-columns: 4fr 1fr;
  align-items: center;
}
.Menu__listing--item > p {
  text-align: center;
  color: #c6ad65;
  font-size: 3rem;
}
.Menu__listing--item:hover {
  border: 2px dashed #c6ad65;
}
.Menu__listing--dish > p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 0.8rem;
  font-weight: 100;
}
.Menu__listing--dish:first-line {
  font-size: 1.5rem;
  color: #000;
  font-family: "Cormorant Garamond", serif;
}

.Gallery {
  margin: 30px auto;
}
.Gallery__container {
  display: grid;
  grid-template-columns: repeat(4, 300px);
  grid-template-rows: repeat(2, 400px);
  grid-gap: 20px;
  width: fit-content;
  margin: auto;
}
.Gallery__item {
  position: relative;
  padding: 20px;
}
.Gallery__item i {
  display: block;
  text-align: right;
}
.Gallery__item--text {
  padding-top: 150px;
}
.Gallery__item--text h4,
.Gallery__item--text p {
  color: transparent;
  text-align: center;
  font-weight: lighter;
}
.Gallery__item--text p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 100;
  font-size: 1rem;
}
.Gallery__item.first {
  background: url(../../section/gallery/img/img1gallerybox.jpg) no-repeat center;
  grid-column: 1/3;
}
.Gallery__item.first:hover {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.6545211835) 0%, rgba(0, 0, 0, 0.7413559174) 100%), url(../../section/gallery/img/img1gallerybox.jpg) no-repeat center;
}
.Gallery__item.first:hover h4,
.Gallery__item.first:hover p,
.Gallery__item.first:hover i {
  color: #fff;
}
.Gallery__item.second {
  background: url(../../section/gallery/img/img2gallerybox.jpg) no-repeat center;
  grid-column: 3/4;
  grid-row: 1;
}
.Gallery__item.second:hover {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.6545211835) 0%, rgba(0, 0, 0, 0.7413559174) 100%), url(../../section/gallery/img/img2gallerybox.jpg) no-repeat center;
}
.Gallery__item.second:hover h4,
.Gallery__item.second:hover p,
.Gallery__item.second:hover i {
  color: #fff;
}
.Gallery__item.third {
  background: url(../../section/gallery/img/img3gallerybox.jpg) no-repeat center;
  grid-column: 4/5;
  grid-row: 1;
}
.Gallery__item.third:hover {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.6545211835) 0%, rgba(0, 0, 0, 0.7413559174) 100%), url(../../section/gallery/img/img3gallerybox.jpg) no-repeat center;
}
.Gallery__item.third:hover h4,
.Gallery__item.third:hover p,
.Gallery__item.third:hover i {
  color: #fff;
}
.Gallery__item.fourth {
  background: url(../../section/gallery/img/img4gallerybox.jpg) no-repeat center;
  grid-column: 1/2;
  grid-row: 2;
}
.Gallery__item.fourth:hover {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.6545211835) 0%, rgba(0, 0, 0, 0.7413559174) 100%), url(../../section/gallery/img/img4gallerybox.jpg) no-repeat center;
}
.Gallery__item.fourth:hover h4,
.Gallery__item.fourth:hover p,
.Gallery__item.fourth:hover i {
  color: #fff;
}
.Gallery__item.fifth {
  background: url(../../section/gallery/img/img5gallerybox.jpg) no-repeat center;
  grid-column: 2/3;
  grid-row: 2;
}
.Gallery__item.fifth:hover {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.6545211835) 0%, rgba(0, 0, 0, 0.7413559174) 100%), url(../../section/gallery/img/img5gallerybox.jpg) no-repeat center;
}
.Gallery__item.fifth:hover h4,
.Gallery__item.fifth:hover p,
.Gallery__item.fifth:hover i {
  color: #fff;
}
.Gallery__item.sixth {
  background: url(../../section/gallery/img/img6gallerybox.jpg) no-repeat center;
  grid-column: 3/5;
  grid-row: 2;
}
.Gallery__item.sixth:hover {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.6545211835) 0%, rgba(0, 0, 0, 0.7413559174) 100%), url(../../section/gallery/img/img6gallerybox.jpg) no-repeat center;
}
.Gallery__item.sixth:hover h4,
.Gallery__item.sixth:hover p,
.Gallery__item.sixth:hover i {
  color: #fff;
}
.Gallery a {
  outline: 1px solid rgba(255, 255, 255, 0.3803921569);
  border-radius: 5px;
  width: max-content;
  height: max-content;
  text-align: center;
  padding: 15px 30px;
  text-transform: uppercase;
  filter: invert(100%);
  grid-column: 1/5;
  margin: 40px auto;
}

.Chefs {
  background: url(../../section/chef/img/imgbg-ourchefs.jpg) no-repeat center;
  background-size: cover;
  padding: 100px 0;
  opacity: 100%;
}
.Chefs__img {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
}
.Chefs__img--profile {
  margin: 15px;
  width: auto;
  height: 300px;
}

.Blog__post {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.Blog__post--card {
  width: min-content;
  margin: 15px;
  padding-bottom: 30px;
  background-color: #faf6f0;
}
.Blog__post--card > img {
  width: 350px;
}
.Blog__post--container {
  padding: 30px;
}
.Blog__post--container > p {
  color: #000;
  font-weight: 300;
  padding-bottom: 40px;
}
.Blog__post--container > a {
  background-color: #c6ad65;
  border-radius: 5px;
  width: max-content;
  height: max-content;
  text-align: center;
  padding: 15px 30px;
  text-transform: uppercase;
  background-color: #fff;
  color: #000;
}
.Blog__post--info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
}
.Blog__post--info > p {
  font-weight: 100;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
}
.Blog__post--info > p > i {
  color: #c6ad65;
  padding-right: 5px;
}
.Blog__partner {
  max-width: inherit;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
}
.Blog__partner > img {
  margin: 40px;
  filter: grayscale(100%);
}

footer {
  background-image: url("../../section/footer/img/img-ng-footer.jpg");
  background-size: cover;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #aeaeae;
  padding: 50px;
  font-size: 14px;
  line-height: 30px;
}

.footer {
  max-width: 90%;
  margin: auto;
}
.footer__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 25px;
  padding-bottom: 25px;
}
.footer__nav {
  padding: 100px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.footer__nav h3 {
  font-family: "Cormorant Garamond", serif;
  color: #fff;
  font-weight: 300;
  padding-bottom: 20px;
}
.footer__nav a {
  color: #aeaeae;
}
.footer__nav--about, .footer__nav--facilities {
  width: 200px;
}
.footer__nav--newsletters {
  width: 400px;
  padding-right: 40px;
}
.footer__nav--newsletters > p {
  font-size: 14px;
}
.footer__nav--newsletters form {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.footer__nav--newsletters form .submit {
  background-color: #c6ad65;
}
.footer__nav--newsletters form > input {
  padding: 10px;
  border: none;
  margin-top: 10px;
}
.footer__nav--newsletters form > input:first-child {
  width: 250px;
}
.footer__nav--contact {
  width: 300px;
}
.footer__nav--contact div {
  display: flex;
  align-items: baseline;
}
.footer__nav--contact div i {
  color: #c6ad65;
  padding-right: 10px;
}
.footer__nav--contact div > p {
  font-size: 14px;
}
.footer__copyright {
  position: relative;
  width: 80%;
  margin: auto;
  border-top: 1px solid rgba(255, 255, 255, 0.3803921569);
}
.footer__copyright img {
  position: absolute;
  top: -20px;
  width: auto;
  left: 50%;
  height: 80px;
}
.footer__copyright--text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 30px 0;
}
.footer__copyright--text > p {
  font-size: 14px;
}
.footer__copyright--text > p a {
  color: #c6ad65;
}
.footer__socialMedia i {
  color: #aeaeae;
  background-color: rgba(255, 255, 255, 0.3803921569);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  text-align: center;
  padding-top: 8px;
}
.footer__socialMedia i:hover {
  color: #fff;
  background-color: #c6ad65;
}

/*# sourceMappingURL=Footer.css.map */
@media (min-width: 640px) and (max-width: 768px) {
  .Header__contact {
    display: none;
  }
  .Section__title {
    max-width: 600px;
  }
  .Section__title > h2 {
    font-size: 6rem;
  }
  .Section__title--subtitle > h3 {
    font-size: 1rem;
  }
  .Section__title--subtitle > q {
    font-size: 10px;
  }
  .Category {
    height: 880px;
  }
  .Category__foods {
    display: flex;
    flex-wrap: wrap;
  }
  .Menu__picture-one {
    height: 500px;
    width: auto;
    bottom: 0px;
  }
  .Menu__picture-two {
    height: 50%;
    right: 0;
    z-index: -5;
  }
  .Menu__listing--item {
    margin-top: 0;
  }
  .Gallery__container {
    grid-template-columns: repeat(2, 300px);
    grid-template-rows: repeat(4, 400px);
  }
  .Gallery__item.first {
    grid-column: 1/3;
    grid-row: 1;
  }
  .Gallery__item.second {
    grid-column: 1/2;
    grid-row: 2;
  }
  .Gallery__item.third {
    grid-column: 2/3;
    grid-row: 2;
  }
  .Gallery__item.fourth {
    grid-column: 1/2;
    grid-row: 3;
  }
  .Gallery__item.fifth {
    grid-column: 2/3;
    grid-row: 3;
  }
  .Gallery__item.sixth {
    grid-column: 1/3;
    grid-row: 4;
  }
  a {
    grid-column: 1/3;
  }
  .Chefs {
    padding: 50px 0;
  }
  .Chefs__img {
    max-width: 80%;
    margin: auto;
  }
  .footer__nav {
    justify-content: flex-start;
  }
  .footer__nav > div {
    padding-bottom: 10px;
  }
  .footer__copyright img {
    top: -50px;
  }
}

/*# sourceMappingURL=style.css.map */
